*{
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%; 
  background-color: #1e1e1e; 
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color:  #FFFFFF;
}

h2{
  font-weight: bold;
  color: #FFD700;
}

h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 65%;
  width: 100%;
}

#bars{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  width: 80%;
  max-width: 900px;
  position: relative;
  gap: 5px;
  background-color: #252525; 
  border-radius: 10px;
  padding: 20px;
}

.bar {
  width: 30px;
  margin: 2px;
  background-color: #FFD700;
  transition: height 0.3s,background-color 0.3s;
}

.bar.highlight {
  background-color: red;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 100px;
  gap: 10px;
}

.controls input, 
.controls select, 
.controls button {
  width: 200px;
  padding: 8px;
  border: 1px solid #555; 
  border-radius: 5px;
  background-color: #333; 
  color: #FFFFFF;
}

.controls button {
  background-color: #ff8902;
  font-weight: bold;
  cursor: pointer;
}

.controls button:hover {
  background-color: rgb(255, 115, 0);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
